<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
<meta charSet="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>


<link rel="stylesheet" href="../public/github.css">
<link rel="stylesheet" href="../public/nira.css">
<title>Button Group Nira UI — Tailwind CSS Components</title>
<meta name="description" content="Improve the user experience by grouping buttons together."/>
<meta name="keywords" content="introduction,guide,nextjs,Button Group Nira UI — Tailwind CSS Components"/>
<link rel="canonical" href="../index.html"/>
<meta property="og:title" content="Button Group Nira UI — Tailwind CSS Components"/>
<meta property="og:description" content="Improve the user experience by grouping buttons together."/>
<meta property="og:url" content=""/>
<meta property="og:site_name" content="Nira UI"/>
<meta property="og:image" content="/images/og-image.png"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>
<meta property="og:image:alt" content="Button Group Nira UI — Tailwind CSS Components"/>
<meta property="og:type" content="website"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content=""/>
<meta name="twitter:title" content="Button Group Nira UI — Tailwind CSS Components"/>
<meta name="twitter:description" content="Improve the user experience by grouping buttons together."/>
<meta name="twitter:image" content="/images/og-image.png"/>
<meta name="twitter:image:alt" content="Button Group Nira UI — Tailwind CSS Components"/>
<link rel="icon" href="../img/svgviewer-output.svg" type="image/x-icon" sizes="48x48"/>
</head>

<body class="__variable_e8ce0c font-regular">
<nav class="bg-opacity-5 sticky top-0 z-50 h-16 w-full border-b px-2 border-base-300/47 backdrop-blur-xl backdrop-filter md:px-4">

<div class="mx-auto flex h-full items-center justify-between p-1 sm:p-3 md:gap-2">

<div class="flex items-center gap-5">


<div class="flex items-center gap-6">

<div>
    <a class="flex items-center gap-2.5" href="../index.html"><img alt="Nira UI Logo" loading="lazy" width="34" height="34"  src="../img/svgviewer-output.svg"/>


<span class="text-md font-semibold hidden sm:flex">Nira UI
</span></a>
</div>

<div class="text-muted-foreground hidden items-center gap-5 text-sm font-medium md:flex">
<a class="flex items-center gap-1 text-sm" href="../docs/introduction.html">Docs
  
 <svg stroke="currentColor" fill="none" stroke-width="3" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-3 w-3 align-super" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">

<path d="M7 7h10v10"></path>

<path d="M7 17 17 7"></path></svg>
</a>

 <a class="flex items-center gap-1 text-sm"  rel="noopener noreferrer" href="../components/index.html">Components
 <svg stroke="currentColor" fill="none" stroke-width="3" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-3 w-3 align-super" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">

<path d="M7 7h10v10"></path>

<path d="M7 17 17 7"></path></svg>

</a>

 <a class="flex items-center gap-1 text-sm" target="_blank" rel="noopener noreferrer" href="https://play.tailwindcss.com/Qz5OQPQCZ2">Playround
 <svg stroke="currentColor" fill="none" stroke-width="3" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-3 w-3 align-super" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">

<path d="M7 7h10v10"></path>

<path d="M7 17 17 7"></path></svg>

</a>


</div>




</div>
</div>

<div class="flex items-center gap-2">

<div>

<div class="relative max-w-md flex-1 cursor-pointer" type="button" >
<input type="search" data-slot="input" class="input" placeholder="Search"/>
</div>
</div>

<div class="flex gap-2 sm:ml-0">
    <a class="button-outline" target="_blank" rel="noopener noreferrer" aria-label="View the repository on GitHub" href="https://github.com/thaboyaluya/nira-ui">
	
	<svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-[1.1rem] w-[1.1rem]" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">

<path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"></path>

<path d="M9 18c-4.51 2-5-2-7-2"></path></svg></a>

<select class="select" onchange="setTheme(this.value)" id="theme-toggle">
  <option value="light">Light</option>
  <option value="dark">Dark</option>
  <option value="system">System</option>

    <option value="neon">Neon</option>
   
  <option value="storm">Storm</option>
  <option value="forest">Forest</option>
    <option value="sunset">Sunset</option>
	<option value="rose">Rose</option>
	<option value="gold">Gold</option>
  <option value="corporate">Corporate</option>
   <option value="retro">Retro</option>
   <option value="steel">Steel</option>
   <option value="pastel">Pastel</option>
   <option value="lofi">Lofi</option>
   <option value="dracula">Dracula</option>
	   <option value="midnight">Midnight</option>
    
 
  
</select>


</div>
</div>
</div></nav>

<main class="h-auto px-5 sm:px-8">

<div class="flex flex-row sm:gap-10">
<div class="sm:w-full sm:max-w-[18rem]">
    <input type="checkbox" id="sidebar-mobile-fixed" class="sidebar-state peer" />
    <label for="sidebar-mobile-fixed" class="sidebar-overlay z-10"></label>
    <aside class="sidebar border border-base-300/47 border-r sidebar-mobile sidebar-fixed-left h-full max-w-[18rem] justify-start bg-base-100 z-10   max-sm:fixed max-sm:-translate-x-full  peer-checked:translate-x-0">
        <section class="sidebar-title items-center p-8"></section>
        <section class="sidebar-content">
            <nav class="menu rounded-md">
                <section class="menu-section px-4">
                    <span class="menu-title">Docs</span>
                    <ul class="menu-items">
                        <li class="py-0.5">
                            <a href="../docs/introduction.html" class="menu-item " >Introduction</a>
                        </li>

                        <li class="py-0.5">
                            <a href="../docs/installation.html" class="menu-item " >Installation</a>
                        </li>
                        <li class="py-0.5">
                            <a href="../docs/usage.html" class="menu-item" >Usage</a>
                        </li>
                        <li class="py-0.5">
                            <a href="../docs/customize.html" class="menu-item" >Customization</a>
                        </li>
                        <li class="py-0.5">
                            <a href="../docs/theme.html" class="menu-item " >Theme</a>
                        </li>
                    </ul>
                </section>
                <div class="divider my-0"></div>
                <section class="menu-section px-4">
                    <span class="menu-title">Components</span>
                    <ul class="menu-items">
                        <li>
                            <input type="checkbox" id="menu-2" class="menu-toggle" />
                            <label class="menu-item justify-between" for="menu-2">
                                <div class="flex gap-2">
                                    <span>Form input</span>
                                </div>
                                <span class="menu-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                    </svg>
                                </span>
                            </label>

                            <div class="menu-item-collapse">
                                <div class="min-h-0">
                                    <ul>
                  
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/button.html" class="menu-item " >Button</a>
                                        </li>
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/button-group.html" class="menu-item menu-active" >Button Group</a>
                                        </li>

                                        <li class="py-0.5 ml-6">
                                            <a href="../components/checkbox.html" class="menu-item" >Checkbox</a>
                                        </li>
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/form.html" class="menu-item" >Forms</a>
                                        </li>
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/input-file.html" class="menu-item" >Input File</a>
                                        </li>
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/input.html" class="menu-item" >Input</a>
                                        </li>
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/radio.html" class="menu-item" >Radio</a>
                                        </li>
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/input-range.html" class="menu-item" >Range</a>
                                        </li>
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/select.html" class="menu-item" >Select</a>
                                        </li>
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/textarea.html" class="menu-item" >Textarea</a>
                                        </li>
                                          <li class="py-0.5 ml-6">
                                            <a href="../components/toggle.html" class="menu-item" >Toggle</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="menu-3" class="menu-toggle" />
                            <label class="menu-item justify-between" for="menu-3">
                                <div class="flex gap-2">
                                    <span>Navigation</span>
                                </div>
                                <span class="menu-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                    </svg>
                                </span>
                            </label>

                            <div class="menu-item-collapse">
                                <div class="min-h-0">
                                    <ul>
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/breadcrumb.html" class="menu-item" >Breadcrumb</a>
                                        </li>

                                        <li class="py-0.5 ml-6">
                                            <a href="../components/drawer.html" class="menu-item" >Drawer</a>
                                        </li>
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/dropdown.html" class="menu-item" >Dropdown</a>
                                        </li>
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/footer.html" class="menu-item" >Footer</a>
                                        </li>
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/link.html" class="menu-item" >Link</a>
                                        </li>
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/navbar.html" class="menu-item" >Navbar</a>
                                        </li>
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/sidebar.html" class="menu-item" >Sidebar</a>
                                        </li>
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/tab.html" class="menu-item" >Tab</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="menu-4" class="menu-toggle" />
                            <label class="menu-item justify-between" for="menu-4">
                                <div class="flex gap-2">
                                    <span>Informational</span>
                                </div>
                                <span class="menu-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                    </svg>
                                </span>
                            </label>

                            <div class="menu-item-collapse">
                                <div class="min-h-0">
                                    <ul>
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/accordion.html" class="menu-item" >Accordion</a>
                                        </li>

                                        <li class="py-0.5 ml-6">
                                            <a href="../components/alert.html" class="menu-item " >Alert</a>
                                        </li>
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/avatar.html" class="menu-item" >Avatar</a>
                                        </li>
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/badge.html" class="menu-item" >Badge</a>
                                        </li>
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/card.html" class="menu-item" >Card</a>
                                        </li>
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/divider.html" class="menu-item" >Divider</a>
                                        </li>
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/dot.html" class="menu-item" >Dot</a>
                                        </li>
                                        <li class="py-0.5 ml-6">
                                            <a href="../components/kbd.html" class="menu-item" >KBD</a>
                                        </li>

                                        <li class="py-0.5 ml-6">
                                            <a href="../components/mockup-browser.html" class="menu-item" >Mockup Browser</a>
                                        </li>

                                        <li class="py-0.5 ml-6">
                                            <a href="../components/mockup-code.html" class="menu-item" >Mockup code</a>
                                        </li>

                                        <li class="py-0.5 ml-6">
                                            <a href="../components/modal.html" class="menu-item" >Modal</a>
                                        </li>

                                        <li class="py-0.5 ml-6">
                                            <a href="../components/pagination.html" class="menu-item" >Pagination</a>
                                        </li>

                                        <li class="py-0.5 ml-6">
                                            <a href="../components/progress.html" class="menu-item" >Progress</a>
                                        </li>

                                        <li class="py-0.5 ml-6">
                                            <a href="../components/skeleton.html" class="menu-item" >Skeleton</a>
                                        </li>

                                        <li class="py-0.5 ml-6">
                                            <a href="../components/spinner.html" class="menu-item" >Spinner</a>
                                        </li>

                                        <li class="py-0.5 ml-6">
                                            <a href="../components/step.html" class="menu-item" >Step</a>
                                        </li>

                                        <li class="py-0.5 ml-6">
                                            <a href="../components/table.html" class="menu-item" >Table</a>
                                        </li>

                                        <li class="py-0.5 ml-6">
                                            <a href="../components/tooltip.html" class="menu-item" >Tooltip</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </nav>
        </section>
    </aside>
</div>
	

<div class="grid gap-10 grid-cols-1 sm:grid-cols-2  xl:grid-cols-3">

    <section class="pt-10 sm:pl-[6rem] md:pl-[6.5rem] lg:pl-0 col-span-2">
        <div class="w-fit">
            <label for="sidebar-mobile-fixed" class="button-primary button sm:hidden">Open Sidebar</label>
        </div>
        <div class="pb-5">
            <nav aria-label="breadcrumb" data-slot="breadcrumb">
                <ol data-slot="breadcrumb-list"
                    class="text-muted-foreground flex flex-wrap items-center gap-1.5 text-sm break-words sm:gap-2.5">
                    <li data-slot="breadcrumb-item" class="inline-flex items-center gap-1.5">
                        <a href="../index.html">
                            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                            stroke-linecap="round" stroke-linejoin="round"
                            class="hover:text-foreground transition-colors h-4" data-slot="breadcrumb-link" height="1em"
                            width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"></path>
                            <path
                                d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z">
                            </path>
                        </svg></a>

                    </li>
                    <li data-slot="breadcrumb-separator" role="presentation" aria-hidden="true"
                        class="[&amp;&gt;svg]:size-3.5">
                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                            stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="m9 18 6-6-6-6"></path>
                        </svg>
                    </li>
                    <li data-slot="breadcrumb-item" class="inline-flex items-center gap-1.5"><a
                            data-slot="breadcrumb-link" class="hover:text-foreground transition-colors"
                            href="../components/button.html">Button</a></li>
                    <li data-slot="breadcrumb-separator" role="presentation" aria-hidden="true"
                        class="[&amp;&gt;svg]:size-3.5">
                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                            stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="m9 18 6-6-6-6"></path>
                        </svg>
                    </li>
                    <li data-slot="breadcrumb-item" class="inline-flex items-center gap-1.5"><span
                            data-slot="breadcrumb-page" role="link" aria-disabled="true" aria-current="page"
                            class="text-foreground font-normal b">Button Group</span></li>
                </ol>
            </nav>
        </div>

        <div class="typography ">


            <h1 class="!mb-2 text-3xl !font-semibold">Button Group
            </h1>

            <p class="text-base text-base-content/70 my-4">
          Nira UI Button Group component allows you to group multiple buttons together, making it easier for users to toggle between related actions.
            </p>
   <h2 id="default" class="!mb-2 text-3xl !font-semibold">Default Button Group</h2>

       
<p class="text-base text-base-content/70 my-4">Use the default <code class="code">.button-grouped</code> class to create a simple button group.</p>


<div class="button-grouped">
<button type="button" class="button ">
Years
</button>
<button type="button" class="button">
Month
</button>
<button type=" button" class="button">
Minutes
</button>
<button type=" button" class="button">
Seconds
</button>
</div>





<figure class="highlight my-4 text-start">
<pre><code data-language="html">
<div class="button-grouped">
 <button type="button" class="button ">Years</button>
 <button type="button" class="button">Month</button>
 <button type=" button" class="button">Minutes</button>
 <button type=" button" class="button">Seconds</button>
</div>
</code></pre>
<button data-clipboard-snippet="" class="button button-primary p-2 bd-copy "><svg class="h-4 w-4"
        viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M8 16V18.8C8 19.9201 8 20.4802 8.21799 20.908C8.40973 21.2843 8.71569 21.5903 9.09202 21.782C9.51984 22 10.0799 22 11.2 22H18.8C19.9201 22 20.4802 22 20.908 21.782C21.2843 21.5903 21.5903 21.2843 21.782 20.908C22 20.4802 22 19.9201 22 18.8V11.2C22 10.0799 22 9.51984 21.782 9.09202C21.5903 8.71569 21.2843 8.40973 20.908 8.21799C20.4802 8 19.9201 8 18.8 8H16M5.2 16H12.8C13.9201 16 14.4802 16 14.908 15.782C15.2843 15.5903 15.5903 15.2843 15.782 14.908C16 14.4802 16 13.9201 16 12.8V5.2C16 4.0799 16 3.51984 15.782 3.09202C15.5903 2.71569 15.2843 2.40973 14.908 2.21799C14.4802 2 13.9201 2 12.8 2H5.2C4.0799 2 3.51984 2 3.09202 2.21799C2.71569 2.40973 2.40973 2.71569 2.21799 3.09202C2 3.51984 2 4.07989 2 5.2V12.8C2 13.9201 2 14.4802 2.21799 14.908C2.40973 15.2843 2.71569 15.5903 3.09202 15.782C3.51984 16 4.07989 16 5.2 16Z"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
</svg></button>
</figure>







   <h2 id="sizes" class="!mb-2 text-3xl !font-semibold">Button Group Sizes
                </h2>
       
<p class="text-base text-base-content/70 my-4">Nira UI supports multiple button group sizes so you can adapt them to your design system.</p>


<div class="container overflow-auto">
<div class="button-grouped">
 <button type="button" class="button button-small ">Years</button>
 <button type="button" class="button button-small">Month</button>
 <button type=" button" class="button button-small">Minutes</button>
 <button type=" button" class="button button-small">Seconds</button>
</div>
<br><br>
<div class="button-grouped">
 <button type="button" class="button ">Years</button>
 <button type="button" class="button">Month</button>
 <button type=" button" class="button">Minutes</button>
 <button type=" button" class="button">Seconds</button>
</div>
<br><br>
<div class="button-grouped">
 <button type="button" class="button button-large ">Years</button>
 <button type="button" class="button button-large">Month</button>
 <button type=" button" class="button button-large">Minutes</button>
 <button type=" button" class="button button-large">Seconds</button>
</div>
<br><br>
<div class="button-grouped">
 <button type="button" class="button button-x-large ">Years</button>
 <button type="button" class="button button-x-large">Month</button>
 <button type=" button" class="button button-x-large">Minutes</button>
 <button type=" button" class="button button-x-large">Seconds</button>
</div>


</div>


<figure class="highlight my-4 text-start">
<pre><code data-language="html">
<div class="button-grouped">
 <button type="button" class="button button-small ">Years</button>
 <button type="button" class="button button-small">Month</button>
 <button type=" button" class="button button-small">Minutes</button>
 <button type=" button" class="button button-small">Seconds</button>
</div>

<div class="button-grouped">
 <button type="button" class="button ">Years</button>
 <button type="button" class="button">Month</button>
 <button type=" button" class="button">Minutes</button>
 <button type=" button" class="button">Seconds</button>
</div>

<div class="button-grouped">
 <button type="button" class="button button-large ">Years</button>
 <button type="button" class="button button-large">Month</button>
 <button type=" button" class="button button-large">Minutes</button>
 <button type=" button" class="button button-large">Seconds</button>
</div>

<div class="button-grouped">
 <button type="button" class="button button-x-large ">Years</button>
 <button type="button" class="button button-x-large">Month</button>
 <button type=" button" class="button button-x-large">Minutes</button>
 <button type=" button" class="button button-x-large">Seconds</button>
</div>
</code></pre>
<button data-clipboard-snippet="" class="button button-primary p-2 bd-copy "><svg class="h-4 w-4"
        viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M8 16V18.8C8 19.9201 8 20.4802 8.21799 20.908C8.40973 21.2843 8.71569 21.5903 9.09202 21.782C9.51984 22 10.0799 22 11.2 22H18.8C19.9201 22 20.4802 22 20.908 21.782C21.2843 21.5903 21.5903 21.2843 21.782 20.908C22 20.4802 22 19.9201 22 18.8V11.2C22 10.0799 22 9.51984 21.782 9.09202C21.5903 8.71569 21.2843 8.40973 20.908 8.21799C20.4802 8 19.9201 8 18.8 8H16M5.2 16H12.8C13.9201 16 14.4802 16 14.908 15.782C15.2843 15.5903 15.5903 15.2843 15.782 14.908C16 14.4802 16 13.9201 16 12.8V5.2C16 4.0799 16 3.51984 15.782 3.09202C15.5903 2.71569 15.2843 2.40973 14.908 2.21799C14.4802 2 13.9201 2 12.8 2H5.2C4.0799 2 3.51984 2 3.09202 2.21799C2.71569 2.40973 2.40973 2.71569 2.21799 3.09202C2 3.51984 2 4.07989 2 5.2V12.8C2 13.9201 2 14.4802 2.21799 14.908C2.40973 15.2843 2.71569 15.5903 3.09202 15.782C3.51984 16 4.07989 16 5.2 16Z"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
</svg></button>
</figure>



<h2 id="rounded" class="!mb-2 text-3xl !font-semibold">Rounded Button Groups</h2>
       
<p class="text-base text-base-content/70 my-4">Create rounded button groups using the <code class="code">.button-grouped-rounded</code> class for a softer UI style.</p>


<div class="button-grouped-rounded">
 <button type="button" class="button ">Years</button>
 <button type="button" class="button">Month</button>
 <button type=" button" class="button">Minutes</button>
 <button type=" button" class="button">Seconds</button>
</div>

<figure class="highlight my-4 text-start">
<pre><code data-language="html">
<div class="button-grouped-rounded">
 <button type="button" class="button ">Years</button>
 <button type="button" class="button">Month</button>
 <button type=" button" class="button">Minutes</button>
 <button type=" button" class="button">Seconds</button>
</div>
</code></pre>
<button data-clipboard-snippet="" class="button button-primary p-2 bd-copy "><svg class="h-4 w-4"
        viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M8 16V18.8C8 19.9201 8 20.4802 8.21799 20.908C8.40973 21.2843 8.71569 21.5903 9.09202 21.782C9.51984 22 10.0799 22 11.2 22H18.8C19.9201 22 20.4802 22 20.908 21.782C21.2843 21.5903 21.5903 21.2843 21.782 20.908C22 20.4802 22 19.9201 22 18.8V11.2C22 10.0799 22 9.51984 21.782 9.09202C21.5903 8.71569 21.2843 8.40973 20.908 8.21799C20.4802 8 19.9201 8 18.8 8H16M5.2 16H12.8C13.9201 16 14.4802 16 14.908 15.782C15.2843 15.5903 15.5903 15.2843 15.782 14.908C16 14.4802 16 13.9201 16 12.8V5.2C16 4.0799 16 3.51984 15.782 3.09202C15.5903 2.71569 15.2843 2.40973 14.908 2.21799C14.4802 2 13.9201 2 12.8 2H5.2C4.0799 2 3.51984 2 3.09202 2.21799C2.71569 2.40973 2.40973 2.71569 2.21799 3.09202C2 3.51984 2 4.07989 2 5.2V12.8C2 13.9201 2 14.4802 2.21799 14.908C2.40973 15.2843 2.71569 15.5903 3.09202 15.782C3.51984 16 4.07989 16 5.2 16Z"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
</svg></button>
</figure>






<h2 id="colors" class="!mb-2 text-3xl !font-semibold">Button Group Colors</h2>
       
<p class="text-base text-base-content/70 my-4">Apply color variants to your button groups for different UI states or actions.</p>


<div class="button-grouped my-2">
 <button type="button" class="button button-primary">Years</button>
 <button type="button" class="button button-primary">Month</button>
 <button type=" button" class="button button-primary">Minutes</button>
 <button type=" button" class="button button-primary">Seconds</button>
</div>

<div class="button-grouped">
 <button type="button" class="button button-secondary">Years</button>
 <button type="button" class="button button-secondary">Month</button>
 <button type=" button" class="button button-secondary">Minutes</button>
 <button type=" button" class="button button-secondary">Seconds</button>
</div>

<div class="button-grouped my-2">
 <button type="button" class="button button-success">Years</button>
 <button type="button" class="button button-success">Month</button>
 <button type=" button" class="button button-success">Minutes</button>
 <button type=" button" class="button button-success">Seconds</button>
</div>

<div class="button-grouped">
 <button type="button" class="button button-danger">Years</button>
 <button type="button" class="button button-danger">Month</button>
 <button type=" button" class="button button-danger">Minutes</button>
 <button type=" button" class="button button-danger">Seconds</button>
</div>

<div class="button-grouped my-2">
 <button type="button" class="button button-warning">Years</button>
 <button type="button" class="button button-warning">Month</button>
 <button type=" button" class="button button-warning">Minutes</button>
 <button type=" button" class="button button-warning">Seconds</button>
</div>

<figure class="highlight my-4 text-start">
<pre><code data-language="html">
<div class="button-grouped">
 <button type="button" class="button button-primary">Years</button>
 <button type="button" class="button button-primary">Month</button>
 <button type=" button" class="button button-primary">Minutes</button>
 <button type=" button" class="button button-primary">Seconds</button>
</div>

<div class="button-grouped ">
 <button type="button" class="button button-secondary">Years</button>
 <button type="button" class="button button-secondary">Month</button>
 <button type=" button" class="button button-secondary">Minutes</button>
 <button type=" button" class="button button-secondary">Seconds</button>
</div>

<div class="button-grouped">
 <button type="button" class="button button-success">Years</button>
 <button type="button" class="button button-success">Month</button>
 <button type=" button" class="button button-success">Minutes</button>
 <button type=" button" class="button button-success">Seconds</button>
</div>

<div class="button-grouped">
 <button type="button" class="button button-danger">Years</button>
 <button type="button" class="button button-danger">Month</button>
 <button type=" button" class="button button-danger">Minutes</button>
 <button type=" button" class="button button-danger">Seconds</button>
</div>

<div class="button-grouped">
 <button type="button" class="button button-warning">Years</button>
 <button type="button" class="button button-warning">Month</button>
 <button type=" button" class="button button-warning">Minutes</button>
 <button type=" button" class="button button-warning">Seconds</button>
</div>
</code></pre>
<button data-clipboard-snippet="" class="button button-primary p-2 bd-copy "><svg class="h-4 w-4"
        viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M8 16V18.8C8 19.9201 8 20.4802 8.21799 20.908C8.40973 21.2843 8.71569 21.5903 9.09202 21.782C9.51984 22 10.0799 22 11.2 22H18.8C19.9201 22 20.4802 22 20.908 21.782C21.2843 21.5903 21.5903 21.2843 21.782 20.908C22 20.4802 22 19.9201 22 18.8V11.2C22 10.0799 22 9.51984 21.782 9.09202C21.5903 8.71569 21.2843 8.40973 20.908 8.21799C20.4802 8 19.9201 8 18.8 8H16M5.2 16H12.8C13.9201 16 14.4802 16 14.908 15.782C15.2843 15.5903 15.5903 15.2843 15.782 14.908C16 14.4802 16 13.9201 16 12.8V5.2C16 4.0799 16 3.51984 15.782 3.09202C15.5903 2.71569 15.2843 2.40973 14.908 2.21799C14.4802 2 13.9201 2 12.8 2H5.2C4.0799 2 3.51984 2 3.09202 2.21799C2.71569 2.40973 2.40973 2.71569 2.21799 3.09202C2 3.51984 2 4.07989 2 5.2V12.8C2 13.9201 2 14.4802 2.21799 14.908C2.40973 15.2843 2.71569 15.5903 3.09202 15.782C3.51984 16 4.07989 16 5.2 16Z"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
</svg></button>
</figure>




















          <div class="flex items-center justify-between py-5 sm:py-7">
    <div>
        <a
            class="button"
            href="../components/button.html"
        >
            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="mr-1 h-[1rem] w-[1rem]" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="m15 18-6-6 6-6"></path>
            </svg>
            <p>Button</p>
        </a>
    </div>
    <div>
        <a
            class="button"
            href="../components/checkbox.html"
        >
            <p>Checkbox</p>
            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="ml-1 h-[1rem] w-[1rem]" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="m9 18 6-6-6-6"></path>
            </svg>
        </a>
    </div>
</div>

        </div>
    </section>

    <aside class=" sticky top-16 hidden h-[94.5vh] min-w-[230px] gap-3 py-8 xl:flex xl:flex-col"
        aria-label="Table of contents">

        <div class="flex w-full flex-col gap-3 pl-2">
            <h3 class="text-sm font-semibold">On this page</h3>

            <div dir="ltr" data-slot="scroll-area" class="relative pt-0.5 pb-4"
                style="position:relative;--radix-scroll-area-corner-width:0px;--radix-scroll-area-corner-height:0px">


                <div 
                    class="focus-visible:ring-ring/50 size-full rounded-[inherit] transition-[color,box-shadow] outline-none focus-visible:ring-[3px] focus-visible:outline-1"
                    style="overflow-x:hidden;overflow-y:hidden">

                    <div style="min-width:100%;display:table">

                        <div class="flex flex-col gap-2.5 text-sm">
                            <a class="pl-0" href="#default">Default Button Group</a>
                            <a class="pl-0" href="#sizes">Sizes of Button Group</a>
                             <a class="pl-0" href="#rounded">Rounded Button Group</a>
                              <a class="pl-0" href="#colors">Colored Button Group</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col gap-3 pl-2">
            <h3 class="text-sm font-semibold">Content</h3>

            <div class="flex flex-col gap-2">
                <a target="_blank" rel="noopener noreferrer"
                    class="flex items-center text-sm "
                    href="https://github.com/thaboyaluya/nira-ui/issues/new?title=Feedback%20for%20%22Introduction%22&amp;labels=feedback"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" class="mr-1 inline-block h-4 w-4" height="1em" width="1em"
                        xmlns="http://www.w3.org/2000/svg">

                        <path d="M7 7h10v10"></path>

                        <path d="M7 17 17 7"></path>
                    </svg> Feedback</a>

            </div>
        </div><button
            class="ml-2 flex cursor-pointer items-center opacity-0 transition mt-6 self-start text-sm " id="scroll-top"><svg
                stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                stroke-linejoin="round" class="mr-1 inline-block h-4 w-4 align-middle" height="1em" width="1em"
                xmlns="http://www.w3.org/2000/svg">

                <path d="m5 12 7-7 7 7"></path>

                <path d="M12 19V5"></path>
            </svg>

            <span>Scroll to top
            </span></button>
    </aside>

</div>
	





		

  </div>
</main>







<footer class=" w-full border-t  border-base-300/47">

<div class=" text-right  px-2 py-3 text-sm ">
    <p>© 2025 <a class="font-bold" href="./index.html">Nira UI</a>.</p>
</div>

</footer>
<script src="../public/clipboard.js"></script>
<script src="../public/rainbow.js"></script>
<script src="../public/script.js"></script>
</body>
</html>