@import "tailwindcss";
@plugin 'nira-ui/plugin.js';



:root {
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --radius: 0.625rem;
   --docsearch-hit-highlight-color:var(--color-base-300)

}


@theme inline {
  --color-input: var(--input);
  --color-ring: var(--ring);
 
}

@layer base {
  * {
    @apply outline-ring/50;
  }
}

@layer utilities {

  @keyframes float {

    0%,
    100% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-20px);
    }
  }

  .animate-float {
    animation: float 6s ease-in-out infinite;
  }
}

.highlight {
  @apply bg-base-200 shadow-2xs rounded-2xl text-base;
  color: var(--color-base-content);
  position: relative;
}

.highlight pre {
  background-color: transparent;
  color: currentColor;
  line-height: 1.375;
  margin: 0 !important;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-break: break-word;
  overflow: auto;
  @apply border border-base-300/47 rounded-2xl
}



.bd-copy {
  opacity: 0;
  position: absolute;
  right: .75em;
  top: .75em;
  transition-duration: .295ms;
  transition-property: opacity;
  cursor: pointer;
}

.highlight:hover .bd-copy {
  opacity: 1;
}

html {
  scroll-padding-top: 120px;
  scroll-behavior: smooth;
}

.logo {
  stroke: var(--color-base-100);
  fill: none;
  stroke-width: 1;
}

.logo path {
  stroke-dasharray: 100;
  stroke-dashoffset: 200;
  animation: draw 3s ease-in-out infinite;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
pre .css-property, pre .css-value, pre .vendor-fix, pre .support.namespace
 {
    color: var(--color-base-content);
}

pre .tag, pre .tag-name {
    @apply text-base-content/70;
}

.typography {
    width: 85vw;
    padding-top: calc(var(--spacing) * 2);
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    min-width: 100% ;
}

@media (min-width: 40rem) {
    .typography {
        width: 100%;
        margin-inline: auto;
    }
}
.code {
    @apply border border-base-300/47 rounded-md;
    margin: 0px 2px;
    padding: 0px 5px;
    font-size: 12px;
}

@keyframes border-spin {
  100% {
    transform: rotate(-360deg);
  }
}


@keyframes border-spin {
  to { transform: rotate(360deg); }
}

@layer utilities {
  /* Card wrapper = gradient border container */
  .card-wrapper {
    @apply relative overflow-hidden rounded-2xl p-[1px]; /* thin border gap */
    background: transparent; /* no background here, handled by card-content */
  }

  /* Gradient border animation */
  .card-wrapper::before {
    content: '';
    @apply absolute left-[-50%] top-[-50%] h-[200%] w-[200%] sm:h-[200%] sm:w-[200%];
    background: conic-gradient(
      var(--color-primary) 0deg,
      var(--color-primary) 0deg,
      transparent 40deg
    );
    animation: border-spin 4s linear infinite;
    z-index: 0;
  }

  /* Card body */
  .card-content {
    @apply relative z-10 rounded-2xl bg-base-100 p-8;
  }
}
.DocSearch-Button{
  background-color: var(--color-base-100) !important;
   @apply text-base-content/70!  border-base-300/47!
}
.DocSearch-Button-Key,.DocSearch-Commands-Key{
  background-color: var(--color-base-200) !important;
   @apply text-base-content/70! border-base-300/20!
}
.DocSearch-Button-Placeholder,.DocSearch-Search-Icon{
  @apply text-base-content/70!
}
.DocSearch-Modal{
  @apply bg-base-200!
}

.DocSearch-Hit,.DocSearch-Hit-Container{
  @apply text-base-content!
} 
.DocSearch-Hit a, .DocSearch-Hit--AskAI{
  @apply bg-base-300!
}

.DocSearch-Hit-source{
  @apply bg-base-200!
}
.DocSearch-Form{
  background: var(--color-base-100) !important;
  @apply border-b! border-base-300/47!
}

.DocSearch-Footer{
  @apply border-t! border-base-300/47! bg-base-100!
}
.DocSearch-Clear,.DocSearch-AskAi-Return, .DocSearch-Close, .DocSearch-StreamingIndicator,.DocSearch-Label,.DocSearch-Commands,.DocSearch-Input,.DocSearch-Screen-Icon,.DocSearch-Divider{
 @apply text-base-content/70!
}

.DocSearch-Hit-source {
     @apply text-base-content/70!
}


.DocSearch-Hit[aria-selected=true]  a {
    @apply bg-base-400!
}
.DocSearch-Divider{
  @apply border-l border-base-300/47
}


.DocSearch-Hit[aria-selected=true] .DocSearch-Hit-Tree, .DocSearch-Hit[aria-selected=true] .DocSearch-Hit-text, .DocSearch-Hit[aria-selected=true] .DocSearch-Hit-title {
     @apply text-base-content/70!
}
.DocSearch-Hit-path{
    @apply text-base-content-200!

}

.DocSearch-Container {
  @apply bg-base-100/80!
}

.DocSearch-Commands-Key {
      @apply border! border-base-300/47! text-sm
}
.cls-1, .cls-2 {
    @apply fill-primary!
}

.DocSearch-Input {
   @apply placeholder:text-primary!
}
.DocSearch-Title {
  @apply text-primary!
}

.DocSearch-Screen-Icon {
  @apply text-primary! stroke-none!
}

.DocSearch-Hit[aria-selected=true] .DocSearch-Hit--AskAI, .DocSearch-Hit[aria-selected=true] a {
  --docsearch-hit-highlight-color:var(--color-base-400);
    background-color: var(--docsearch-hit-highlight-color) !important;
}

.DocSearch-Hit[aria-selected=true] .DocSearch-Hit-action, .DocSearch-Hit[aria-selected=true] .DocSearch-Hit-icon, .DocSearch-Hit[aria-selected=true] mark {
  --docsearch-highlight-color:var(--color-base-content);
    color: var(--docsearch-highlight-color);
}

.DocSearch-Hit-icon{
  --docsearch-secondary-text-color:var(--color-base-content);
    color: var(--docsearch-secondary-text-color);
}

.DocSearch-Hit mark {
    --docsearch-highlight-color:var(--color-base-content);
    color: var(--docsearch-highlight-color);
}
.DocSearch-Divider {
    @apply border-l! border-base-300/47!
}

.DocSearch-AskAi-Return:hover, .DocSearch-Close:hover, .DocSearch-StreamingIndicator:hover {
    --docsearch-soft-primary-color:var(--color-base-200);
    background: var(--docsearch-soft-primary-color);
}
#docsearch,.DocSearch-Button{
  @apply rounded-full!
}
.DocSearch-Button-Key{
  @apply text-sm! rounded-full! bg-base-100!
}
.DocSearch-Modal {
  @apply bg-base-100/80!
}